.container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 10px);

}
p::before{
    content: attr(type);
    display: block;
    margin: 3px 2px;
    font-size: 15px;
    color: #000000 ;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows:75px 75px 75px ;
  

}
#nom{
    grid-column: span 2;
}

h1{
    text-align: center;
}






